body{
    background-image: url(pexels-photo-1169754.jpeg);
    background-position: center;
    background-size: cover;
    font-family: cursive;
    margin-top: 40px;
}
.p1{
    color: white;
    font-size: 20px;
}
.p2{
    color: chartreuse;
    font-size: 20px;
}
p{
   padding-left: 400px;
}
h2{
color: white;
    font-family: sans-serif;
}